.card{
  display: flex;
  flex-direction:column;
  align-items:center;
  width:20%;
  margin:2%;
  background-color:#5182FF;
  border-radius:20px;
  cursor: pointer;
}
.card:hover{
  transform: scale(1.05);
}
.cardImg{
  border-radius:20px 20px 0px 0px ;
  width:100%;
}

#firstInfoCard{
  width:80%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding-top:3%;
}
#titleCard{
  margin:0;
  font-size:120%;
}
#notationCard{
  font-size:150%;
  margin:0;
}

#secondInfoCard{
  width:80%;
  display:flex;
  color:white;
  padding-top:2%;
  padding-bottom:3%;
}

#infoCard{
  margin:0;
}
@media(max-width:1200px){
  .card{
    width:25%;
  }
}
@media(max-width:900px){
  .card{
    width:40%;
  }
}
@media(max-width:600px){
  .card{
    width:70%;
  }
}
