.divBanner{
  background-image:url('../../public/img/background.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  padding:15vh;
  margin:0;
  color:white;
  padding-left: 15%;
  padding-bottom:10%;
}

#titleBanner{
  padding-top:5%;
  font-size:400%;
  font-weight:bold;
}

#buttonBanner{
  border:none;
  background:white;
  opacity:0.8;
  font-family:'Poppins';
  padding:2%;
  padding-top:1%;
  padding-bottom:1%;
  font-size:120%;
  border-radius:5px;
}
#buttonBanner:hover{
  opacity:1;
  cursor: pointer;
}
#textBannerHome{
  font-size:130%;
  padding-bottom:2%;
}
