.banner-contact {
    padding-top:9%;
    padding-bottom:7%;
    background-image: url('../../public/img/carlin.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 50% 70%;
    display:flex;
    justify-content:center;
    color:white;
    height:100%;
    font-size:200%;
}
.form, .newsletter {
    display: block;
    text-align: center;
    width: 100%;
    padding: 3% 0% 5% 0%;
}


.name, .email, .text, .submit {
    width: 300px;
    height: 50px;
    padding-left: 20px;
    border-radius: 15px;
    color: #8f8fa1;
    font-weight: bold;
    margin: 15px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    outline: none;
    border: none;
    text-transform: uppercase;
}

.submit {
    background:linear-gradient(#4c88ff,#854cff);
    color: white;
    font-size: 18px;
    font-weight: 800;
    width: 150px;
    height: 50px;
    padding: 0%;
    cursor: pointer;
    
}