
.heroBannerDestination{
  padding-top:8%;
  padding-bottom:5%;

  background-image: url('../../public/img/bannerDestination.jpg');
  background-size:cover;
  background-position: 50% 70%;


  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;

  color:white;
  height:100%;
}

.titleDestination{
  font-size:400%;
  margin: 0;
}

.destinationComponent>h2{
  text-align: center;
  font-size:300%;
}

.divInfosDestination{
  display:flex;
  justify-content:space-around;
  font-size:150%;
  padding-left:10%;
  padding-right:10%;
}

.destinationComponent>p{
  text-align:center;

  padding-top:5%;
  padding-bottom:5%;
  padding-left:10%;
  padding-right:10%;

  font-size:150%;
}
.errorMessageDestination{
  padding-top:5%;
  padding-bottom:5%;
}
