#errorDiv{
  height:50vh;
  padding-top:8%;
  padding-bottom:5%;


  background-color:#292929;


  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;


  color:white;
}
