.header{
  padding-top:3vh;
  padding-bottom:3vh;
  width:100vw;
  background-color: transparent;
  position: fixed;
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index:100;
  transition-duration: 0.5s;
}
.navForMobile{
  display:none;
  align-items:center;
  flex-direction: column;
  background-color:white;
  z-index:200;
}
.navForMobile>ul{
  list-style-type:none;
}
.linkMobile{
  color:black;
  text-decoration:none;
}
.header>nav{
  width:35%;
  padding-right:15%;
}

.header>nav>ul{
  display:flex;
  justify-content: space-around;
}

.header>nav>ul>li{
  list-style-type: none;
}

#logo{
  width:30%;
  padding-left:15%;
}
#logoImg{
  width:20%;
}

.link{
  font-size:140%;
  text-decoration: none;
  color:white;
}

@media(max-width:1400px){
  .header>nav{
    width:40%;
    padding-right:10%;
  }
  #logo{
    padding-left:10%;
  }
}
@media(max-width:1200px){
  .header>nav{
    width:50%;
    padding-right:6%;
  }
  #logo{
    padding-left:6%;
  }
  #logoImg{
    width:25%;
  }

}
@media(max-width:900px){
  .header{
    padding-top:1vh;
    padding-bottom:1vh;
  }
  .header>nav{
    width:70%;
    padding-right:3%;
  }
  #logo{
    padding-left:3%;
  }
  #logoImg{
    width:30%;
  }
}
@media(max-width:700px){
  .header{
    width:10vh;
    padding-top:1vh;
    padding-bottom:0vh;
  }
  .header>nav{
    display:none;
  }
  #logo{
    width:100%;
    padding-left:20%;
  }
  #logoImg{
    width:80%;
  }
}
