@font-face{
  font-family:"Poppins";
  src: url("../../public/font/Poppins-Regular.ttf") format('TrueType');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"Poppins";
  src: url("../../public/font/Poppins-Black.ttf") format('TrueType');
  font-weight: bold;
  font-style: normal;
}

body{
  margin:0;
  font-family:"Poppins";
}

@media screen and (max-width: 700px){
 
  .allabout {
      display: flex;
      flex-direction: column;
  }
  .maroc {
      display: none;
  }
  .boat {
      display: flex;
      justify-content: center;
  }

  .name, .email, .text, .submit {
    max-width: 70%;
  }

  .banner-contact {
    display: flex;
    justify-content:center;
    font-size:100%;
}

  #titleBanner{
    font-size:200%;
  }
  #textBannerHome{
    font-size:100%;
  }

  .footerLink{
    display:flex;
    flex-direction:column;
    align-items: center;
  }

}
