
.heroBannerTravel{

  padding-top:8%;
  padding-bottom:5%;


  background-image:url('../../public/img/banner2.jpg');
  background-size:cover;
  background-position: 50% 70%;


  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;


  color:white;
}

#titleBannerTravel{
  font-size:400%;
}
#searchBar{
  padding:0.5%;
  padding-left:1%;
  width: 20%;
  border:none;
  border-radius:33px;
  font-size:150%;
}

#searchBar:focus-visible{
  outline:none;
}

#cards{
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  padding-top:2%;
  padding-bottom:2%;
}

#nullSearch{
  font-size:150%;
}

@media(max-width:1200px){
  #titleBannerTravel{
    font-size:300%;
  }
  #searchBar{
    font-size:100%;
  }
}

@media(max-width:800px){
  #titleBannerTravel{
    font-size:200%;
  }
  #searchBar{
    width:30%;
  }
}

@media(max-width:500px){
  #titleBannerTravel{
    font-size:150%;
  }
  #searchBar{
    width:40%;
  }
}
