
.footer{
  display:flex;
  flex-direction:column;
  align-items: center;
  background:linear-gradient(#4c88ff,#854cff);
  padding-top:2%;
}

.footerLink{
  width:100%;
  display:flex;
  justify-content: space-around;
}

.socialMedia{
  color:white;
  width:30%;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align: center;
}
.divImg{
  display:flex;
  list-style-type:none;
  margin-left:20%;
  margin-right:20%;
  padding-top:5%;
}

.socialImg{
  width:5vw;
}
.contact{
  color:white;
}
.quickLinks{
  color:white;
}
.linkQuickLinks{
  color:white;
  text-decoration: none;
}

#copyright{
  color:white;
  font-size:100%;
  padding:0%;
  padding-top:2%;
}
@media(max-width:700px){
  .footerLink{
    flex-wrap: wrap;
  }
  .contact{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
  }
  .quickLinks{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
  }
  .socialMedia{
    width:100%;
  }
  .socialImg{
    width:10vw;
  }
}
